@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #c778dd;
$gray: #abb2bf;
$background: #282c33;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

$regular: 400;
$medium: 500;
$semiBold: 600;

body {
  background-color: $background;
  color: white;
  margin: 0px;
  font-family: "Fira Code", monospace;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
section {
  @media (min-width: $md) {
    max-width: clamp(620px, 74%, $lg);
    margin: auto;
  }
}
@import "./navigation.scss";
@import "./hero.scss";
@import "./animated-box.scss";
@import "./quote-section.scss";
