@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

$primary: #c778dd;
$gray: #abb2bf;
$background: #282c33;

body {
  background-color: $background;
  color: white;
  margin: 0px;
}
a {
  text-decoration: none;
}

@import "./navigation.scss";
