@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #c778dd;
$gray: #abb2bf;
$background: #282c33;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

body {
  background-color: $background;
  color: white;
  margin: 0px;
  font-family: "Fira Code", monospace;
}
a {
  text-decoration: none;
}
section.hero {
  padding: 34px 16px;
  h3 {
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    span {
      color: $primary;
    }
  }
  p {
    font-weight: 400;
    font-size: 1rem;
    color: $gray;
    margin: 24px 0px;
  }
  @media (min-width: $md) {
    max-width: clamp(620px, 74%, $lg);
    margin: auto;
    padding: 34px 0px;
  }
  @media (min-width: $lg) {
    display: grid;
    grid-template-columns: 54.2% 45.8%;
    align-items: center;
  }
  @media (min-width: $xl) {
    padding-top: 62px;
  }
  .picture-container {
    position: relative;
    max-width: 469px;
    max-height: 386px;
    margin: auto;
    img {
      width: 100%;
      height: 100%;
      max-width: 457px;
      max-height: 386px;
      position: relative;
      z-index: 1;
    }
    .canvas {
      position: absolute;
      top: 19.46%;
      margin: 0;
    }
    .dots {
      position: absolute;
      right: 0;
      bottom: 14.51%;
      z-index: 2;
    }
  }
}

@import "./navigation.scss";
@import "./animated-box.scss";
