.navigation {
  padding: 16px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a.logo {
    font-family: "Fira Code", monospace;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .close-icon {
    transform: rotate(0deg);
    &.rotate {
      animation-name: rotate;
      animation-duration: 500ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
